.ipynb_checkpoints/
.vagrant/
.vscode
__pycache__
hydra.restore
host-nastware.log
damicore/bkp
damicore/erro.txt
damicore/tmp/
damicore/executable-functions/GOOD-CIWmi.dll.txt
damicore/executable-functions/GOOD-CbtBackgroundManagerPolicy.dll.txt
damicore/executable-functions/GOOD-Microsoft.Uev.Office2010CustomActions.dll.txt
damicore/executable-functions/GOOD-RASMM.dll.txt
damicore/executable-functions/GOOD-Windows.UI.Core.TextInput.dll.txt
damicore/executable-functions/GOOD-audiodg.exe.txt
damicore/executable-functions/GOOD-cryptsp.dll.txt
damicore/executable-functions/GOOD-esentutl.exe.txt
damicore/executable-functions/GOOD-expand.exe.txt
