b'KERNEL32.dll'          b'GetExitCodeProcess'
b'KERNEL32.dll'        b'GetFileAttributesExW'
b'KERNEL32.dll'          b'GetFileAttributesW'
b'KERNEL32.dll'                 b'GetFileSize'
b'KERNEL32.dll'                 b'GetFileType'
b'KERNEL32.dll'            b'GetFullPathNameW'
b'KERNEL32.dll'                b'GetLastError'
b'KERNEL32.dll'                b'GetLocalTime'
b'KERNEL32.dll'              b'GetLocaleInfoW'
b'KERNEL32.dll'          b'GetModuleFileNameA'
b'KERNEL32.dll'          b'GetModuleFileNameW'
b'KERNEL32.dll'            b'GetModuleHandleA'
b'KERNEL32.dll'            b'GetModuleHandleW'
b'KERNEL32.dll'    b'GetPrivateProfileStringW'
b'KERNEL32.dll'              b'GetProcAddress'
b'KERNEL32.dll'              b'GetProcessHeap'
b'KERNEL32.dll'             b'GetStartupInfoA'
b'KERNEL32.dll'                b'GetStdHandle'
b'KERNEL32.dll'               b'GetSystemTime'
b'KERNEL32.dll'     b'GetSystemTimeAsFileTime'
b'KERNEL32.dll'            b'GetTempFileNameW'
b'KERNEL32.dll'                b'GetTempPathW'
b'KERNEL32.dll'             b'GetThreadLocale'
b'KERNEL32.dll'                b'GetTickCount'
b'KERNEL32.dll'              b'GetTimeFormatW'
b'KERNEL32.dll'          b'GetUserDefaultLCID'
b'KERNEL32.dll'                  b'GetVersion'
b'KERNEL32.dll'               b'GetVersionExA'
b'KERNEL32.dll'       b'GetVolumeInformationW'
b'KERNEL32.dll'        b'GetWindowsDirectoryW'
b'KERNEL32.dll'             b'Heap32ListFirst'
b'KERNEL32.dll'                   b'HeapAlloc'
b'KERNEL32.dll'                    b'HeapFree'
b'KERNEL32.dll'                 b'HeapReAlloc'
b'KERNEL32.dll'                    b'HeapSize'
b'KERNEL32.dll'   b'InitializeCriticalSection'
b'KERNEL32.dll'        b'InterlockedDecrement'
b'KERNEL32.dll'        b'InterlockedIncrement'
b'KERNEL32.dll'     b'IsSystemResumeAutomatic'
b'KERNEL32.dll'        b'LeaveCriticalSection'
b'KERNEL32.dll'                b'LoadLibraryA'
b'KERNEL32.dll'                b'LoadLibraryW'
b'KERNEL32.dll'                   b'LocalFree'
b'KERNEL32.dll'                 b'MoveFileExA'
b'KERNEL32.dll'                 b'MoveFileExW'
b'KERNEL32.dll'                   b'MoveFileW'
b'KERNEL32.dll'         b'MultiByteToWideChar'
b'KERNEL32.dll'     b'GetEnvironmentVariableW'
b'KERNEL32.dll'     b'QueryPerformanceCounter'
b'KERNEL32.dll'                b'QueueUserAPC'
b'KERNEL32.dll'              b'RaiseException'
b'KERNEL32.dll'                b'ReadConsoleW'
b'KERNEL32.dll'                    b'ReadFile'
b'KERNEL32.dll'           b'ReadProcessMemory'
b'KERNEL32.dll'            b'RemoveDirectoryW'
b'KERNEL32.dll'  b'ScrollConsoleScreenBufferW'
b'KERNEL32.dll'                 b'SearchPathW'
b'KERNEL32.dll'       b'SetConsoleCtrlHandler'
b'KERNEL32.dll'    b'SetConsoleCursorPosition'
b'KERNEL32.dll'              b'SetConsoleMode'
b'KERNEL32.dll'     b'SetConsoleTextAttribute'
b'KERNEL32.dll'            b'SetConsoleTitleW'
b'KERNEL32.dll'        b'SetCurrentDirectoryW'
b'KERNEL32.dll'     b'SetEnvironmentVariableW'
b'KERNEL32.dll'                b'SetErrorMode'
b'KERNEL32.dll'          b'SetFileAttributesW'
b'KERNEL32.dll'              b'SetFilePointer'
b'KERNEL32.dll'                 b'SetFileTime'
b'KERNEL32.dll'                b'SetLastError'
b'KERNEL32.dll'                b'SetLocalTime'
b'KERNEL32.dll'               b'SetSystemTime'
b'KERNEL32.dll'             b'SetThreadLocale'
b'KERNEL32.dll' b'SetUnhandledExceptionFilter'
b'KERNEL32.dll'             b'SetVolumeLabelA'
b'KERNEL32.dll'                     b'SleepEx'
b'KERNEL32.dll'              b'SwitchToThread'
b'KERNEL32.dll'        b'SystemTimeToFileTime'
b'KERNEL32.dll'            b'TerminateProcess'
b'KERNEL32.dll'            b'TransmitCommChar'
b'KERNEL32.dll'    b'UnhandledExceptionFilter'
b'KERNEL32.dll'                b'VirtualAlloc'
b'KERNEL32.dll'                 b'VirtualFree'
b'KERNEL32.dll'               b'VirtualFreeEx'
b'KERNEL32.dll'                b'VirtualQuery'
b'KERNEL32.dll'         b'WaitForSingleObject'
b'KERNEL32.dll'         b'WideCharToMultiByte'
b'KERNEL32.dll'               b'WriteConsoleW'
b'KERNEL32.dll'                   b'WriteFile'
b'KERNEL32.dll' b'WritePrivateProfileSectionA'
b'KERNEL32.dll'                     b'_hwrite'
b'KERNEL32.dll'                    b'lstrcmpW'
b'KERNEL32.dll'                   b'lstrcmpiW'
b'KERNEL32.dll'                    b'lstrcpyW'
b'KERNEL32.dll'                    b'lstrlenW'
b'KERNEL32.dll'      b'GetEnvironmentStringsW'
b'KERNEL32.dll'               b'GetDriveTypeW'
b'KERNEL32.dll'         b'GetDiskFreeSpaceExW'
b'KERNEL32.dll'              b'GetDateFormatW'
b'KERNEL32.dll'          b'GetCurrentThreadId'
b'KERNEL32.dll'            b'GetCurrentThread'
b'KERNEL32.dll'         b'GetCurrentProcessId'
b'KERNEL32.dll'           b'GetCurrentProcess'
b'KERNEL32.dll'        b'GetCurrentDirectoryW'
b'KERNEL32.dll'            b'GetConsoleTitleW'
b'KERNEL32.dll'  b'GetConsoleScreenBufferInfo'
b'KERNEL32.dll'          b'GetConsoleOutputCP'
b'KERNEL32.dll'              b'GetConsoleMode'
b'KERNEL32.dll'      b'GetCompressedFileSizeW'
b'KERNEL32.dll'             b'GetCommandLineW'
b'KERNEL32.dll'                   b'GetCPInfo'
b'KERNEL32.dll'              b'GetBinaryTypeW'
b'KERNEL32.dll'               b'GetBinaryType'
b'KERNEL32.dll'                 b'FreeLibrary'
b'KERNEL32.dll'              b'FormatMessageW'
b'KERNEL32.dll'            b'FlushFileBuffers'
b'KERNEL32.dll'     b'FlushConsoleInputBuffer'
b'KERNEL32.dll'               b'FindNextFileW'
b'KERNEL32.dll'               b'FindNextFileA'
b'KERNEL32.dll'              b'FindFirstFileW'
b'KERNEL32.dll'              b'FindFirstFileA'
b'KERNEL32.dll'                   b'FindClose'
b'KERNEL32.dll' b'FillConsoleOutputCharacterW'
b'KERNEL32.dll'  b'FillConsoleOutputAttribute'
b'KERNEL32.dll'        b'FileTimeToSystemTime'
b'KERNEL32.dll'     b'FileTimeToLocalFileTime'
b'KERNEL32.dll'   b'ExpandEnvironmentStringsW'
b'KERNEL32.dll'                   b'EraseTape'
b'KERNEL32.dll'        b'EnterCriticalSection'
b'KERNEL32.dll'             b'DuplicateHandle'
b'KERNEL32.dll'                 b'DeleteFileW'
b'KERNEL32.dll'                 b'DeleteFileA'
b'KERNEL32.dll'                b'CreateThread'
b'KERNEL32.dll'              b'CreateProcessW'
b'KERNEL32.dll'                 b'CreateFileW'
b'KERNEL32.dll'                 b'CreateFileA'
b'KERNEL32.dll'            b'CreateDirectoryW'
b'KERNEL32.dll'                   b'CopyFileW'
b'KERNEL32.dll'                   b'CopyFileA'
b'KERNEL32.dll'        b'ConvertDefaultLocale'
b'KERNEL32.dll'             b'CompareFileTime'
b'KERNEL32.dll'                 b'CloseHandle'
b'KERNEL32.dll'                 b'OpenProcess'
b'KERNEL32.dll'                    b'AddAtomW'
  b'USER32.dll'              b'DefWindowProcW'
  b'USER32.dll'               b'DrawFocusRect'
  b'USER32.dll'        b'CreateWindowStationA'
  b'USER32.dll'                  b'CreateMenu'
  b'USER32.dll'                    b'FillRect'
  b'USER32.dll'                 b'FindWindowW'
  b'USER32.dll'  b'GetMenuCheckMarkDimensions'
  b'USER32.dll'     b'GetProcessWindowStation'
  b'USER32.dll'            b'GetSysColorBrush'
  b'USER32.dll'            b'GetThreadDesktop'
  b'USER32.dll'                b'GetUpdateRgn'
  b'USER32.dll'   b'GetUserObjectInformationW'
  b'USER32.dll'                 b'InflateRect'
  b'USER32.dll'             b'InsertMenuItemW'
  b'USER32.dll'                    b'IsIconic'
  b'USER32.dll'            b'LockWindowUpdate'
  b'USER32.dll'                 b'MessageBeep'
  b'USER32.dll'                 b'MessageBoxW'
  b'USER32.dll'           b'MonitorFromWindow'
  b'USER32.dll'                  b'OffsetRect'
  b'USER32.dll'                b'PostMessageW'
  b'USER32.dll'          b'RealGetWindowClass'
  b'USER32.dll'                b'SendMessageW'
  b'USER32.dll'   b'SetUserObjectInformationW'
  b'USER32.dll'                  b'ShowWindow'
  b'USER32.dll'                   b'ToUnicode'
  b'USER32.dll'                    b'WinHelpA'
  b'USER32.dll'                 b'LoadCursorW'
  b'USER32.dll'               b'GetKBCodePage'
  b'USER32.dll'            b'DefMDIChildProcW'
  b'USER32.dll'          b'CloseWindowStation'
   b'GDI32.dll'                   b'StartPage'
   b'GDI32.dll'               b'SetMiterLimit'
   b'GDI32.dll'              b'SetMapperFlags'
   b'GDI32.dll'               b'SetBitmapBits'
   b'GDI32.dll'                   b'PtVisible'
   b'GDI32.dll'               b'OffsetClipRgn'
   b'GDI32.dll'            b'GetViewportOrgEx'
   b'GDI32.dll'                b'GetTextFaceW'
   b'GDI32.dll'        b'AddFontMemResourceEx'
   b'GDI32.dll'              b'AnimatePalette'
   b'GDI32.dll'                         b'Arc'
   b'GDI32.dll'      b'BRUSHOBJ_pvAllocRbrush'
   b'GDI32.dll'          b'ColorMatchToTarget'
   b'GDI32.dll'            b'CopyEnhMetaFileA'
   b'GDI32.dll'          b'CreatePatternBrush'
   b'GDI32.dll'         b'DescribePixelFormat'
   b'GDI32.dll'               b'EngFreeModule'
   b'GDI32.dll'                  b'EngTextOut'
   b'GDI32.dll'                  b'EnumFontsW'
   b'GDI32.dll'                     b'FillRgn'
   b'GDI32.dll'             b'GdiGetPageCount'
   b'GDI32.dll'            b'GetGlyphOutlineW'
   b'GDI32.dll'               b'GetMiterLimit'
   b'GDI32.dll'      b'GetOutlineTextMetricsA'
b'ADVAPI32.dll'                 b'RegOpenKeyW'
b'ADVAPI32.dll'    b'SaferRecordEventLogEntry'
b'ADVAPI32.dll'          b'SaferIdentifyLevel'
b'ADVAPI32.dll'  b'SaferComputeTokenFromLevel'
b'ADVAPI32.dll'             b'SaferCloseLevel'
b'ADVAPI32.dll'                b'RevertToSelf'
b'ADVAPI32.dll'                b'RegSetValueW'
b'ADVAPI32.dll'              b'RegSetValueExW'
b'ADVAPI32.dll'              b'RegQueryValueW'
b'ADVAPI32.dll'            b'RegQueryValueExW'
b'ADVAPI32.dll'        b'CreateProcessAsUserW'
b'ADVAPI32.dll'               b'RegOpenKeyExW'
b'ADVAPI32.dll'                 b'RegEnumKeyW'
b'ADVAPI32.dll'               b'RegDeleteKeyW'
b'ADVAPI32.dll'             b'RegCreateKeyExW'
b'ADVAPI32.dll'                 b'RegCloseKey'
b'ADVAPI32.dll'           b'LookupAccountSidW'
b'ADVAPI32.dll'     b'ImpersonateLoggedOnUser'
b'ADVAPI32.dll'  b'GetSecurityDescriptorOwner'
b'ADVAPI32.dll'            b'GetFileSecurityW'
b'ADVAPI32.dll'                     b'FreeSid'
 b'SHELL32.dll'             b'ShellExecuteExW'
 b'SHELL32.dll'               b'ShellExecuteA'
 b'SHELL32.dll'                 b'ShellAboutA'
 b'SHELL32.dll'    b'SHIsFileAvailableOffline'
 b'SHELL32.dll'               b'SHGetSettings'
 b'SHELL32.dll'               b'CheckEscapesW'
 b'SHELL32.dll'               b'DragQueryFile'
 b'SHELL32.dll'           b'DragQueryFileAorW'
 b'SHELL32.dll'              b'ExtractIconExW'
 b'SHELL32.dll'             b'SHAppBarMessage'
 b'SHELL32.dll'          b'SHBrowseForFolderA'
 b'SHELL32.dll'              b'SHChangeNotify'
 b'SHELL32.dll'      b'SHCreateProcessAsUserW'
 b'SHELL32.dll'          b'SHEmptyRecycleBinA'
 b'SHELL32.dll'            b'SHFileOperationA'
 b'SHELL32.dll'        b'SHGetDataFromIDListA'
 b'SHELL32.dll'         b'SHGetDiskFreeSpaceA'
 b'SHELL32.dll'                 b'SHGetMalloc'
 b'SHELL32.dll'             b'WOWShellExecute'
 b'SHLWAPI.dll'                    b'StrCmpNW'
 b'SHLWAPI.dll'                    b'StrStrIA'
 b'SHLWAPI.dll'                    b'StrStrIW'
 b'SHLWAPI.dll'                    b'StrCmpNA'
 b'SHLWAPI.dll'                    b'StrChrIA'
b'COMCTL32.dll'            b'ImageList_Create'
  b'msvcrt.dll'                 b'_XcptFilter'
  b'msvcrt.dll'               b'__getmainargs'
  b'msvcrt.dll'                   b'__initenv'
  b'msvcrt.dll'                b'__p__commode'
  b'msvcrt.dll'                  b'__p__fmode'
  b'msvcrt.dll'              b'__set_app_type'
  b'msvcrt.dll'            b'__setusermatherr'
  b'msvcrt.dll'                b'_adjust_fdiv'
  b'msvcrt.dll'                     b'_c_exit'
  b'msvcrt.dll'                      b'_cexit'
  b'msvcrt.dll'                      b'_close'
  b'msvcrt.dll'                  b'_controlfp'
  b'msvcrt.dll'                        b'_dup'
  b'msvcrt.dll'                       b'_dup2'
  b'msvcrt.dll'                      b'_errno'
  b'msvcrt.dll'            b'_except_handler3'
  b'msvcrt.dll'                       b'_exit'
  b'msvcrt.dll'              b'_get_osfhandle'
  b'msvcrt.dll'                      b'_getch'
  b'msvcrt.dll'                   b'_initterm'
  b'msvcrt.dll'                        b'_iob'
  b'msvcrt.dll'             b'_open_osfhandle'
  b'msvcrt.dll'                     b'_pclose'
  b'msvcrt.dll'                       b'_pipe'
  b'msvcrt.dll'         b'_seh_longjmp_unwind'
  b'msvcrt.dll'                    b'_setjmp3'
  b'msvcrt.dll'                    b'_setmode'
  b'msvcrt.dll'                  b'_snwprintf'
  b'msvcrt.dll'                       b'_tell'
  b'msvcrt.dll'                      b'_ultoa'
  b'msvcrt.dll'                 b'_vsnwprintf'
  b'msvcrt.dll'                    b'_wcsicmp'
  b'msvcrt.dll'                     b'_wcslwr'
  b'msvcrt.dll'                   b'_wcsnicmp'
  b'msvcrt.dll'                     b'_wcsupr'
  b'msvcrt.dll'                     b'_wpopen'
  b'msvcrt.dll'                       b'_wtol'
  b'msvcrt.dll'                      b'calloc'
  b'msvcrt.dll'                        b'exit'
  b'msvcrt.dll'                      b'fflush'
  b'msvcrt.dll'                       b'fgets'
  b'msvcrt.dll'                     b'fprintf'
  b'msvcrt.dll'                        b'free'
  b'msvcrt.dll'                    b'iswalpha'
  b'msvcrt.dll'                    b'iswdigit'
  b'msvcrt.dll'                    b'iswspace'
  b'msvcrt.dll'                   b'iswxdigit'
  b'msvcrt.dll'                     b'longjmp'
  b'msvcrt.dll'                      b'malloc'
  b'msvcrt.dll'                     b'memmove'
  b'msvcrt.dll'                      b'printf'
  b'msvcrt.dll'                       b'qsort'
  b'msvcrt.dll'                        b'rand'
  b'msvcrt.dll'                     b'realloc'
  b'msvcrt.dll'                   b'setlocale'
  b'msvcrt.dll'                       b'srand'
  b'msvcrt.dll'                    b'swprintf'
  b'msvcrt.dll'                     b'swscanf'
  b'msvcrt.dll'                        b'time'
  b'msvcrt.dll'                    b'towlower'
  b'msvcrt.dll'                    b'towupper'
  b'msvcrt.dll'                      b'wcscat'
  b'msvcrt.dll'                      b'wcschr'
  b'msvcrt.dll'                      b'wcscmp'
  b'msvcrt.dll'                      b'wcscpy'
  b'msvcrt.dll'                      b'wcslen'
  b'msvcrt.dll'                     b'wcsncmp'
  b'msvcrt.dll'                     b'wcsncpy'
  b'msvcrt.dll'                     b'wcsrchr'
  b'msvcrt.dll'                      b'wcsspn'
  b'msvcrt.dll'                      b'wcsstr'
  b'msvcrt.dll'                      b'wcstol'
  b'msvcrt.dll'                     b'wcstoul'