 b'SHLWAPI.dll'          b'PathAppendW'
b'KERNEL32.dll'       b'CreateProcessW'
b'KERNEL32.dll'        b'GetSystemTime'
b'KERNEL32.dll'             b'lstrlenW'
b'KERNEL32.dll'            b'LocalFree'
b'ADVAPI32.dll' b'CheckTokenMembership'
b'ADVAPI32.dll'   b'CreateWellKnownSid'
   b'ole32.dll'     b'CoCreateInstance'
   b'ole32.dll'    b'CoSetProxyBlanket'