b'KERNEL32.dll'       b'EnterCriticalSection'
b'KERNEL32.dll'       b'LeaveCriticalSection'
b'KERNEL32.dll'               b'GetStdHandle'
b'KERNEL32.dll'    b'QueryPerformanceCounter'
b'KERNEL32.dll'  b'QueryPerformanceFrequency'
b'KERNEL32.dll'                  b'HeapAlloc'
b'KERNEL32.dll'                   b'HeapFree'
b'KERNEL32.dll'             b'GetProcessHeap'
b'KERNEL32.dll'  b'InitializeCriticalSection'
b'KERNEL32.dll'      b'DeleteCriticalSection'
b'KERNEL32.dll'                b'ExitProcess'
b'KERNEL32.dll'           b'GetCurrentThread'
b'KERNEL32.dll'             b'GetProcAddress'
b'KERNEL32.dll'      b'SetThreadAffinityMask'
b'KERNEL32.dll'                   b'lstrlenW'
b'KERNEL32.dll'               b'LoadLibraryA'
b'KERNEL32.dll' b'GetConsoleScreenBufferInfo'
b'KERNEL32.dll'    b'SetConsoleTextAttribute'
b'KERNEL32.dll'              b'WriteConsoleW'
b'KERNEL32.dll'  b'IsProcessorFeaturePresent'