b'KERNEL32.dll'    b'CloseHandle'
b'KERNEL32.dll'      b'WriteFile'
b'KERNEL32.dll'    b'CreateFileA'
b'KERNEL32.dll' b'SizeofResource'
b'KERNEL32.dll'   b'LockResource'
b'KERNEL32.dll'   b'LoadResource'
b'KERNEL32.dll'  b'FindResourceA'
b'KERNEL32.dll' b'CreateProcessA'
  b'MSVCRT.dll'           b'free'
  b'MSVCRT.dll'      b'_initterm'
  b'MSVCRT.dll'         b'malloc'
  b'MSVCRT.dll'   b'_adjust_fdiv'
  b'MSVCRT.dll'        b'sprintf'