b'KERNEL32.dll'         b'WaitForSingleObject'
b'KERNEL32.dll'        b'InterlockedIncrement'
b'KERNEL32.dll'          b'GetCurrentThreadId'
b'KERNEL32.dll'            b'GetCurrentThread'
b'KERNEL32.dll'                    b'ReadFile'
b'KERNEL32.dll'                 b'GetFileSize'
b'KERNEL32.dll'                 b'CreateFileA'
b'KERNEL32.dll'                 b'MoveFileExA'
b'KERNEL32.dll'              b'SizeofResource'
b'KERNEL32.dll'             b'TerminateThread'
b'KERNEL32.dll'                b'LoadResource'
b'KERNEL32.dll'               b'FindResourceA'
b'KERNEL32.dll'              b'GetProcAddress'
b'KERNEL32.dll'            b'GetModuleHandleW'
b'KERNEL32.dll'                 b'ExitProcess'
b'KERNEL32.dll'          b'GetModuleFileNameA'
b'KERNEL32.dll'                   b'LocalFree'
b'KERNEL32.dll'                  b'LocalAlloc'
b'KERNEL32.dll'                 b'CloseHandle'
b'KERNEL32.dll'        b'InterlockedDecrement'
b'KERNEL32.dll'        b'EnterCriticalSection'
b'KERNEL32.dll'        b'LeaveCriticalSection'
b'KERNEL32.dll'   b'InitializeCriticalSection'
b'KERNEL32.dll'                 b'GlobalAlloc'
b'KERNEL32.dll'                  b'GlobalFree'
b'KERNEL32.dll'   b'QueryPerformanceFrequency'
b'KERNEL32.dll'     b'QueryPerformanceCounter'
b'KERNEL32.dll'                b'GetTickCount'
b'KERNEL32.dll'                b'LockResource'
b'KERNEL32.dll'                       b'Sleep'
b'KERNEL32.dll'             b'GetStartupInfoA'
b'KERNEL32.dll'            b'GetModuleHandleA'
b'ADVAPI32.dll' b'StartServiceCtrlDispatcherA'
b'ADVAPI32.dll' b'RegisterServiceCtrlHandlerA'
b'ADVAPI32.dll'       b'ChangeServiceConfig2A'
b'ADVAPI32.dll'            b'SetServiceStatus'
b'ADVAPI32.dll'              b'OpenSCManagerA'
b'ADVAPI32.dll'              b'CreateServiceA'
b'ADVAPI32.dll'          b'CloseServiceHandle'
b'ADVAPI32.dll'               b'StartServiceA'
b'ADVAPI32.dll'              b'CryptGenRandom'
b'ADVAPI32.dll'        b'CryptAcquireContextA'
b'ADVAPI32.dll'                b'OpenServiceA'
  b'WS2_32.dll'                 b'closesocket'
  b'WS2_32.dll'                        b'recv'
  b'WS2_32.dll'                        b'send'
  b'WS2_32.dll'                       b'htonl'
  b'WS2_32.dll'                       b'ntohl'
  b'WS2_32.dll'                  b'WSAStartup'
  b'WS2_32.dll'                   b'inet_ntoa'
  b'WS2_32.dll'                 b'ioctlsocket'
  b'WS2_32.dll'                      b'select'
  b'WS2_32.dll'                       b'htons'
  b'WS2_32.dll'                      b'socket'
  b'WS2_32.dll'                     b'connect'
  b'WS2_32.dll'                   b'inet_addr'
 b'MSVCP60.dll'      b'??1_Lockit@std@@QAE@XZ'
 b'MSVCP60.dll'      b'??0_Lockit@std@@QAE@XZ'
b'iphlpapi.dll'             b'GetAdaptersInfo'
b'iphlpapi.dll'           b'GetPerAdapterInfo'
 b'WININET.dll'               b'InternetOpenA'
 b'WININET.dll'            b'InternetOpenUrlA'
 b'WININET.dll'         b'InternetCloseHandle'
  b'MSVCRT.dll'              b'__set_app_type'
  b'MSVCRT.dll'                    b'_stricmp'
  b'MSVCRT.dll'                  b'__p__fmode'
  b'MSVCRT.dll'                b'__p__commode'
  b'MSVCRT.dll'            b'_except_handler3'
  b'MSVCRT.dll'            b'__setusermatherr'
  b'MSVCRT.dll'                   b'_initterm'
  b'MSVCRT.dll'               b'__getmainargs'
  b'MSVCRT.dll'                     b'_acmdln'
  b'MSVCRT.dll'                b'_adjust_fdiv'
  b'MSVCRT.dll'                  b'_controlfp'
  b'MSVCRT.dll'                        b'exit'
  b'MSVCRT.dll'                 b'_XcptFilter'
  b'MSVCRT.dll'                       b'_exit'
  b'MSVCRT.dll'                     b'_onexit'
  b'MSVCRT.dll'                 b'__dllonexit'
  b'MSVCRT.dll'                        b'free'
  b'MSVCRT.dll'                b'??2@YAPAXI@Z'
  b'MSVCRT.dll'                       b'_ftol'
  b'MSVCRT.dll'                     b'sprintf'
  b'MSVCRT.dll'                b'_endthreadex'
  b'MSVCRT.dll'                     b'strncpy'
  b'MSVCRT.dll'                        b'rand'
  b'MSVCRT.dll'              b'_beginthreadex'
  b'MSVCRT.dll'           b'__CxxFrameHandler'
  b'MSVCRT.dll'                       b'srand'
  b'MSVCRT.dll'                        b'time'
  b'MSVCRT.dll'                  b'__p___argc'