b'kernel32.dll'        b'DeleteCriticalSection'
b'kernel32.dll'         b'LeaveCriticalSection'
b'kernel32.dll'         b'EnterCriticalSection'
b'kernel32.dll'    b'InitializeCriticalSection'
b'kernel32.dll'                  b'VirtualFree'
b'kernel32.dll'                 b'VirtualAlloc'
b'kernel32.dll'                    b'LocalFree'
b'kernel32.dll'                   b'LocalAlloc'
b'kernel32.dll'                 b'GetTickCount'
b'kernel32.dll'      b'QueryPerformanceCounter'
b'kernel32.dll'                   b'GetVersion'
b'kernel32.dll'           b'GetCurrentThreadId'
b'kernel32.dll'         b'InterlockedDecrement'
b'kernel32.dll'         b'InterlockedIncrement'
b'kernel32.dll'                 b'VirtualQuery'
b'kernel32.dll'          b'WideCharToMultiByte'
b'kernel32.dll'          b'MultiByteToWideChar'
b'kernel32.dll'                     b'lstrlenA'
b'kernel32.dll'                    b'lstrcpynA'
b'kernel32.dll'               b'LoadLibraryExA'
b'kernel32.dll'              b'GetThreadLocale'
b'kernel32.dll'              b'GetStartupInfoA'
b'kernel32.dll'               b'GetProcAddress'
b'kernel32.dll'             b'GetModuleHandleA'
b'kernel32.dll'           b'GetModuleFileNameA'
b'kernel32.dll'               b'GetLocaleInfoA'
b'kernel32.dll'                 b'GetLastError'
b'kernel32.dll'              b'GetCommandLineA'
b'kernel32.dll'                  b'FreeLibrary'
b'kernel32.dll'               b'FindFirstFileA'
b'kernel32.dll'                    b'FindClose'
b'kernel32.dll'                  b'ExitProcess'
b'kernel32.dll'                    b'WriteFile'
b'kernel32.dll'     b'UnhandledExceptionFilter'
b'kernel32.dll'               b'SetFilePointer'
b'kernel32.dll'                 b'SetEndOfFile'
b'kernel32.dll'                    b'RtlUnwind'
b'kernel32.dll'                     b'ReadFile'
b'kernel32.dll'               b'RaiseException'
b'kernel32.dll'                 b'GetStdHandle'
b'kernel32.dll'                  b'GetFileSize'
b'kernel32.dll'                  b'GetFileType'
b'kernel32.dll'                  b'CreateFileA'
b'kernel32.dll'                  b'CloseHandle'
  b'user32.dll'              b'GetKeyboardType'
  b'user32.dll'                  b'LoadStringA'
  b'user32.dll'                  b'MessageBoxA'
  b'user32.dll'                    b'CharNextA'
b'advapi32.dll'             b'RegQueryValueExA'
b'advapi32.dll'                b'RegOpenKeyExA'
b'advapi32.dll'                  b'RegCloseKey'
b'oleaut32.dll'                b'SysFreeString'
b'oleaut32.dll'          b'SysReAllocStringLen'
b'oleaut32.dll'            b'SysAllocStringLen'
b'kernel32.dll'                  b'TlsSetValue'
b'kernel32.dll'                  b'TlsGetValue'
b'kernel32.dll'                   b'LocalAlloc'
b'kernel32.dll'             b'GetModuleHandleA'
b'advapi32.dll'               b'RegSetValueExA'
b'advapi32.dll'                b'RegOpenKeyExA'
b'advapi32.dll'                  b'RegFlushKey'
b'advapi32.dll'              b'RegCreateKeyExA'
b'advapi32.dll'                  b'RegCloseKey'
b'advapi32.dll'              b'OpenThreadToken'
b'advapi32.dll'             b'OpenProcessToken'
b'advapi32.dll'          b'GetTokenInformation'
b'advapi32.dll'                      b'FreeSid'
b'advapi32.dll'                     b'EqualSid'
b'advapi32.dll'     b'AllocateAndInitializeSid'
b'kernel32.dll'                    b'WriteFile'
b'kernel32.dll'          b'WaitForSingleObject'
b'kernel32.dll'                 b'VirtualQuery'
b'kernel32.dll'             b'TerminateProcess'
b'kernel32.dll'               b'SizeofResource'
b'kernel32.dll'               b'SetFilePointer'
b'kernel32.dll'                     b'SetEvent'
b'kernel32.dll'                 b'SetErrorMode'
b'kernel32.dll'                 b'SetEndOfFile'
b'kernel32.dll'                   b'ResetEvent'
b'kernel32.dll'                     b'ReadFile'
b'kernel32.dll'                  b'OpenProcess'
b'kernel32.dll'                       b'MulDiv'
b'kernel32.dll'                    b'MoveFileA'
b'kernel32.dll'                 b'LockResource'
b'kernel32.dll'                 b'LoadResource'
b'kernel32.dll'         b'LeaveCriticalSection'
b'kernel32.dll'    b'InitializeCriticalSection'
b'kernel32.dll'                 b'GlobalUnlock'
b'kernel32.dll'                b'GlobalReAlloc'
b'kernel32.dll'                 b'GlobalHandle'
b'kernel32.dll'                   b'GlobalLock'
b'kernel32.dll'                   b'GlobalFree'
b'kernel32.dll'                  b'GlobalAlloc'
b'kernel32.dll'         b'GetWindowsDirectoryA'
b'kernel32.dll'                b'GetVersionExA'
b'kernel32.dll'                 b'GetTickCount'
b'kernel32.dll'              b'GetThreadLocale'
b'kernel32.dll'                 b'GetTempPathA'
b'kernel32.dll'                b'GetSystemInfo'
b'kernel32.dll'             b'GetStringTypeExA'
b'kernel32.dll'                 b'GetStdHandle'
b'kernel32.dll'               b'GetProcAddress'
b'kernel32.dll'             b'GetModuleHandleA'
b'kernel32.dll'           b'GetModuleFileNameA'
b'kernel32.dll'               b'GetLocaleInfoA'
b'kernel32.dll'                 b'GetLocalTime'
b'kernel32.dll'                 b'GetLastError'
b'kernel32.dll'             b'GetFullPathNameA'
b'kernel32.dll'           b'GetFileAttributesA'
b'kernel32.dll'            b'GetDiskFreeSpaceA'
b'kernel32.dll'               b'GetDateFormatA'
b'kernel32.dll'           b'GetCurrentThreadId'
b'kernel32.dll'             b'GetCurrentThread'
b'kernel32.dll'          b'GetCurrentProcessId'
b'kernel32.dll'            b'GetCurrentProcess'
b'kernel32.dll'                    b'GetCPInfo'
b'kernel32.dll'                       b'GetACP'
b'kernel32.dll'                 b'FreeResource'
b'kernel32.dll'               b'FormatMessageA'
b'kernel32.dll'                b'FindResourceA'
b'kernel32.dll'                b'FindNextFileA'
b'kernel32.dll'               b'FindFirstFileA'
b'kernel32.dll'                    b'FindClose'
b'kernel32.dll'      b'FileTimeToLocalFileTime'
b'kernel32.dll'        b'FileTimeToDosDateTime'
b'kernel32.dll'            b'EnumCalendarInfoA'
b'kernel32.dll'         b'EnterCriticalSection'
b'kernel32.dll'        b'DeleteCriticalSection'
b'kernel32.dll'                  b'CreateFileA'
b'kernel32.dll'                 b'CreateEventA'
b'kernel32.dll'             b'CreateDirectoryA'
b'kernel32.dll'               b'CompareStringA'
b'kernel32.dll'                  b'CloseHandle'
   b'gdi32.dll'              b'UnrealizeObject'
   b'gdi32.dll'                   b'StretchBlt'
   b'gdi32.dll'           b'SetWinMetaFileBits'
   b'gdi32.dll'                 b'SetTextColor'
   b'gdi32.dll'            b'SetStretchBltMode'
   b'gdi32.dll'                      b'SetROP2'
   b'gdi32.dll'           b'SetEnhMetaFileBits'
   b'gdi32.dll'             b'SetDIBColorTable'
   b'gdi32.dll'                b'SetBrushOrgEx'
   b'gdi32.dll'                    b'SetBkMode'
   b'gdi32.dll'                   b'SetBkColor'
   b'gdi32.dll'                b'SelectPalette'
   b'gdi32.dll'                 b'SelectObject'
   b'gdi32.dll'               b'RealizePalette'
   b'gdi32.dll'              b'PlayEnhMetaFile'
   b'gdi32.dll'                       b'PatBlt'
   b'gdi32.dll'                     b'MoveToEx'
   b'gdi32.dll'                      b'MaskBlt'
   b'gdi32.dll'           b'GetWinMetaFileBits'
   b'gdi32.dll'              b'GetTextMetricsA'
   b'gdi32.dll'      b'GetSystemPaletteEntries'
   b'gdi32.dll'               b'GetStockObject'
   b'gdi32.dll'                     b'GetPixel'
   b'gdi32.dll'            b'GetPaletteEntries'
   b'gdi32.dll'                   b'GetObjectA'
   b'gdi32.dll' b'GetEnhMetaFilePaletteEntries'
   b'gdi32.dll'         b'GetEnhMetaFileHeader'
   b'gdi32.dll'           b'GetEnhMetaFileBits'
   b'gdi32.dll'                b'GetDeviceCaps'
   b'gdi32.dll'                    b'GetDIBits'
   b'gdi32.dll'             b'GetDIBColorTable'
   b'gdi32.dll'         b'GetCurrentPositionEx'
   b'gdi32.dll'                b'GetBrushOrgEx'
   b'gdi32.dll'                b'GetBitmapBits'
   b'gdi32.dll'                     b'GdiFlush'
   b'gdi32.dll'                 b'DeleteObject'
   b'gdi32.dll'            b'DeleteEnhMetaFile'
   b'gdi32.dll'                     b'DeleteDC'
   b'gdi32.dll'            b'CreatePenIndirect'
   b'gdi32.dll'                b'CreatePalette'
   b'gdi32.dll'        b'CreateHalftonePalette'
   b'gdi32.dll'          b'CreateFontIndirectA'
   b'gdi32.dll'               b'CreateDIBitmap'
   b'gdi32.dll'             b'CreateDIBSection'
   b'gdi32.dll'           b'CreateCompatibleDC'
   b'gdi32.dll'       b'CreateCompatibleBitmap'
   b'gdi32.dll'          b'CreateBrushIndirect'
   b'gdi32.dll'                 b'CreateBitmap'
   b'gdi32.dll'             b'CopyEnhMetaFileA'
   b'gdi32.dll'                       b'BitBlt'
  b'user32.dll'        b'SystemParametersInfoA'
  b'user32.dll'                    b'ReleaseDC'
  b'user32.dll'                  b'MessageBoxA'
  b'user32.dll'                  b'LoadStringA'
  b'user32.dll'                    b'LoadIconA'
  b'user32.dll'             b'GetSystemMetrics'
  b'user32.dll'                  b'GetSysColor'
  b'user32.dll'                  b'GetIconInfo'
  b'user32.dll'                     b'GetFocus'
  b'user32.dll'                        b'GetDC'
  b'user32.dll'             b'GetClipboardData'
  b'user32.dll'                     b'FillRect'
  b'user32.dll'                   b'DrawIconEx'
  b'user32.dll'                  b'DestroyIcon'
  b'user32.dll'                   b'CreateIcon'
  b'user32.dll'                    b'CharNextA'
  b'user32.dll'               b'CharLowerBuffA'
  b'user32.dll'                   b'CharToOemA'
b'kernel32.dll'                        b'Sleep'
b'oleaut32.dll'          b'SafeArrayPtrOfIndex'
b'oleaut32.dll'           b'SafeArrayGetUBound'
b'oleaut32.dll'           b'SafeArrayGetLBound'
b'oleaut32.dll'              b'SafeArrayCreate'
b'oleaut32.dll'            b'VariantChangeType'
b'oleaut32.dll'                  b'VariantCopy'
b'oleaut32.dll'                 b'VariantClear'
b'oleaut32.dll'                  b'VariantInit'
 b'shell32.dll'              b'ShellExecuteExA'
 b'shell32.dll'                b'ShellExecuteA'
 b'wininet.dll'             b'InternetReadFile'
 b'wininet.dll'             b'InternetOpenUrlA'
 b'wininet.dll'                b'InternetOpenA'
 b'wininet.dll'          b'InternetCloseHandle'