b'KERNEL32.dll'                        b'GetProcAddress'
b'KERNEL32.dll'                          b'LoadLibraryA'
b'KERNEL32.dll'                   b'WaitForSingleObject'
b'KERNEL32.dll' b'InitializeCriticalSectionAndSpinCount'
b'KERNEL32.dll'                  b'LeaveCriticalSection'
b'KERNEL32.dll'                          b'GetLastError'
b'KERNEL32.dll'                  b'EnterCriticalSection'
b'KERNEL32.dll'                          b'ReleaseMutex'
b'KERNEL32.dll'                           b'CloseHandle'