b'ADVAPI32.dll'    b'GetSecurityDescriptorDacl'
b'ADVAPI32.dll'         b'RegisterEventSourceA'
b'ADVAPI32.dll'             b'RegQueryInfoKeyA'
b'ADVAPI32.dll'      b'GetSidSubAuthorityCount'
b'ADVAPI32.dll'               b'RegSetValueExA'
b'ADVAPI32.dll'                b'RegDeleteKeyA'
b'ADVAPI32.dll'      b'GetKernelObjectSecurity'
b'ADVAPI32.dll'                  b'RegCloseKey'
b'ADVAPI32.dll'               b'RegQueryValueA'
b'ADVAPI32.dll'                  b'RegLoadKeyA'
b'ADVAPI32.dll'           b'GetSidSubAuthority'
b'ADVAPI32.dll'          b'RegConnectRegistryA'
b'ADVAPI32.dll'        b'LookupPrivilegeValueA'
b'ADVAPI32.dll'      b'InitiateSystemShutdownA'
b'ADVAPI32.dll'         b'CreateProcessAsUserA'
b'ADVAPI32.dll'    b'GetSidIdentifierAuthority'
b'ADVAPI32.dll'              b'OpenThreadToken'
b'ADVAPI32.dll'    b'LsaQueryInformationPolicy'
b'ADVAPI32.dll'               b'RegQueryValueW'
b'ADVAPI32.dll'                 b'EncryptFileW'
b'ADVAPI32.dll'                 b'RegSetValueW'
b'ADVAPI32.dll'               b'MakeAbsoluteSD'
b'ADVAPI32.dll'                b'RegOpenKeyExA'
b'ADVAPI32.dll'              b'RegCreateKeyExW'
b'ADVAPI32.dll'                       b'AddAce'
b'ADVAPI32.dll'        b'SetNamedSecurityInfoW'
b'ADVAPI32.dll'                b'OpenEventLogW'
b'ADVAPI32.dll'                 b'GetUserNameW'
b'ADVAPI32.dll'    b'SetSecurityDescriptorSacl'
b'ADVAPI32.dll'           b'MakeSelfRelativeSD'
b'ADVAPI32.dll'                  b'RegFlushKey'
b'ADVAPI32.dll' b'InitializeSecurityDescriptor'
b'ADVAPI32.dll'                b'InitializeAcl'
b'ADVAPI32.dll'             b'SetEntriesInAclA'
b'ADVAPI32.dll'         b'GetSidLengthRequired'
b'ADVAPI32.dll'                 b'RegSetValueA'
b'ADVAPI32.dll'             b'SetEntriesInAclW'
b'ADVAPI32.dll'            b'GetAclInformation'
  b'USER32.dll'                   b'DrawIconEx'
  b'USER32.dll'             b'IsDialogMessageA'
  b'USER32.dll'                   b'OffsetRect'
  b'USER32.dll'           b'PostThreadMessageW'
  b'USER32.dll'              b'DialogBoxParamA'
  b'USER32.dll'           b'GetLastActivePopup'
  b'USER32.dll'             b'GetGUIThreadInfo'
  b'USER32.dll'                   b'DrawStateA'
  b'USER32.dll'                     b'IsWindow'
  b'USER32.dll'                b'OpenClipboard'
  b'USER32.dll'                b'InSendMessage'
  b'USER32.dll'                  b'FindWindowW'
  b'USER32.dll'                       b'IsMenu'
  b'USER32.dll'         b'EnumDisplaySettingsA'
  b'USER32.dll'            b'DrawAnimatedRects'
  b'USER32.dll'                    b'FrameRect'
  b'USER32.dll'           b'SetMenuDefaultItem'
  b'USER32.dll'                  b'GrayStringW'
  b'USER32.dll'   b'CreateDialogIndirectParamW'
  b'USER32.dll'               b'ClientToScreen'
  b'USER32.dll'                    b'GetParent'
  b'USER32.dll'         b'TranslateMDISysAccel'
  b'USER32.dll'               b'CreateDesktopW'
  b'USER32.dll'                    b'ShowCaret'
  b'USER32.dll'      b'GetProcessWindowStation'
  b'USER32.dll'               b'TrackPopupMenu'
  b'USER32.dll'                b'IntersectRect'
  b'USER32.dll'      b'DialogBoxIndirectParamA'
  b'USER32.dll'               b'DefWindowProcA'
  b'USER32.dll'               b'ReuseDDElParam'
  b'USER32.dll'               b'NotifyWinEvent'
  b'USER32.dll'             b'SetClipboardData'
  b'USER32.dll'               b'CloseClipboard'
  b'USER32.dll'                b'DdeDisconnect'
  b'USER32.dll'                b'GetClassNameA'
  b'USER32.dll'                  b'GetCaretPos'
  b'USER32.dll'                   b'CharLowerW'
  b'USER32.dll'     b'GetWindowModuleFileNameA'
  b'USER32.dll'              b'IsWindowVisible'
  b'USER32.dll'                   b'wvsprintfA'
  b'USER32.dll'                  b'ModifyMenuA'
  b'USER32.dll'          b'SendDlgItemMessageW'
  b'USER32.dll'            b'SetCaretBlinkTime'
  b'USER32.dll'                    b'LoadMenuW'
  b'USER32.dll'                 b'GetMenuState'
  b'USER32.dll'                  b'DrawTextExA'
  b'USER32.dll'       b'ChangeDisplaySettingsW'
  b'USER32.dll'              b'CreateWindowExW'
  b'USER32.dll'                   b'GetCapture'
  b'USER32.dll'              b'CreatePopupMenu'
  b'USER32.dll'                      b'SetMenu'
  b'USER32.dll'               b'CharUpperBuffW'
  b'USER32.dll'                   b'DrawStateW'
  b'USER32.dll'                   b'LoadImageA'
  b'USER32.dll'                 b'GetScrollPos'
  b'USER32.dll'                   b'GetDlgItem'
  b'USER32.dll'      b'GetClipboardFormatNameW'
  b'USER32.dll'                  b'ValidateRgn'
  b'USER32.dll'     b'GetWindowThreadProcessId'
  b'USER32.dll'              b'GetClassInfoExW'
  b'USER32.dll'                b'DdeAccessData'
  b'USER32.dll'                   b'ShowWindow'
  b'USER32.dll'            b'GetKeyboardLayout'
  b'USER32.dll'                b'GetClassInfoW'
  b'USER32.dll'                  b'SetCaretPos'
  b'USER32.dll'                  b'LoadCursorA'
  b'USER32.dll'                     b'FillRect'
  b'USER32.dll'                    b'LoadMenuA'
  b'USER32.dll'                  b'mouse_event'
  b'USER32.dll'                  b'ModifyMenuW'
  b'USER32.dll'                b'InvalidateRgn'
  b'USER32.dll'                b'GetMenuItemID'
  b'USER32.dll'                     b'IsIconic'
  b'USER32.dll'                   b'OemToCharA'
  b'USER32.dll'          b'LoadCursorFromFileW'
  b'USER32.dll'       b'RegisterWindowMessageA'
  b'USER32.dll'             b'DispatchMessageW'
  b'USER32.dll'                 b'GetCursorPos'
  b'USER32.dll'                    b'CharPrevA'
  b'USER32.dll'                b'GetWindowWord'
   b'IMM32.dll'               b'ImmGetProperty'
   b'IMM32.dll'    b'ImmGetCandidateListCountA'
   b'IMM32.dll'     b'ImmGetCompositionStringA'
   b'IMM32.dll'       b'ImmSetConversionStatus'
   b'IMM32.dll'             b'ImmSetOpenStatus'
   b'IMM32.dll'             b'ImmCreateContext'
   b'IMM32.dll'             b'ImmGetOpenStatus'
   b'IMM32.dll'                 b'ImmNotifyIME'
   b'IMM32.dll'               b'ImmInstallIMEA'
   b'IMM32.dll'                b'ImmGetContext'
   b'IMM32.dll'            b'ImmDestroyContext'
   b'IMM32.dll'            b'ImmSimulateHotKey'
   b'IMM32.dll'             b'ImmConfigureIMEA'
   b'IMM32.dll'          b'ImmAssociateContext'
b'RASAPI32.dll'                     b'RasDialA'
b'RASAPI32.dll'        b'RasGetProjectionInfoA'
b'KERNEL32.dll'              b'WriteFileGather'
b'KERNEL32.dll'                   b'PulseEvent'
b'KERNEL32.dll'             b'GetLongPathNameA'