b'kernel32.dll'                b'GetProcAddress'
b'kernel32.dll'                    b'GetVersion'
b'kernel32.dll'                  b'LoadLibraryA'
b'kernel32.dll'                  b'VirtualAlloc'
b'kernel32.dll'                b'VirtualProtect'
b'kernel32.dll'                   b'ExitProcess'
b'kernel32.dll'              b'VerLanguageNameA'
b'kernel32.dll'    b'DnsHostnameToComputerNameW'
b'comctl32.dll'            b'InitCommonControls'
b'comctl32.dll'            b'CreateMappedBitmap'
  b'user32.dll'                  b'SetCursorPos'
  b'user32.dll'     b'BroadcastSystemMessageExA'
  b'user32.dll'                     b'wsprintfA'
  b'user32.dll'                b'GetQueueStatus'
b'advapi32.dll'      b'SaferSetLevelInformation'
b'advapi32.dll'             b'SystemFunction034'
b'advapi32.dll'             b'CryptSetProvParam'
b'advapi32.dll'           b'EnumerateTraceGuids'
b'advapi32.dll'             b'WmiSetSingleItemA'
b'advapi32.dll'           b'QueryServiceConfigA'
   b'ole32.dll' b'WdtpInterfacePointer_UserSize'
   b'ole32.dll'               b'OleCreateLinkEx'
   b'ole32.dll'                  b'SetErrorInfo'
b'winspool.drv'             b'AddPrinterDriverA'
  b'oledlg.dll'            b'OleUIPasteSpecialA'
  b'oledlg.dll'        b'OleUIObjectPropertiesA'
  b'oledlg.dll'            b'OleUIInsertObjectW'
  b'oledlg.dll'             b'OleUIAddVerbMenuW'
 b'gdiplus.dll'         b'GdipCombineRegionRect'
 b'gdiplus.dll'    b'GdipImageSelectActiveFrame'
 b'shell32.dll'              b'ILCreateFromPath'
 b'shell32.dll'         b'SHGetInstanceExplorer'
 b'msimg32.dll'                  b'GradientFill'
 b'msimg32.dll'                 b'DllInitialize'
  b'oleacc.dll'                 b'GetStateTextW'
  b'oleacc.dll'     b'AccessibleObjectFromEvent'
  b'oleacc.dll'             b'ObjectFromLresult'
   b'gdi32.dll'                     b'GetRgnBox'
   b'gdi32.dll'                  b'SelectObject'
 b'version.dll'       b'GetFileVersionInfoSizeW'
 b'version.dll'               b'VerInstallFileA'
 b'version.dll'                b'VerQueryValueA'
   b'winmm.dll'               b'midiStreamPause'
   b'winmm.dll'                  b'midiOutClose'
   b'winmm.dll'                     b'joyGetPos'
   b'winmm.dll'                   b'midiInGetID'
b'oleaut32.dll'                  b'VarUI4FromI8'
b'oleaut32.dll'                  b'VarUI2FromR4'
b'oleaut32.dll'             b'SysAllocStringLen'
b'oleaut32.dll'                b'VarUI2FromDate'
b'comdlg32.dll'               b'LoadAlterBitmap'
b'comdlg32.dll'                 b'GetFileTitleA'
b'imagehlp.dll'               b'SymLoadModule64'
 b'shlwapi.dll'             b'SHDeleteEmptyKeyA'
 b'shlwapi.dll'              b'PathQuoteSpacesW'