b'KERNEL32.dll'                          b'GetLastError'
b'KERNEL32.dll'                          b'SetLastError'
b'KERNEL32.dll'                     b'GetCurrentProcess'
b'KERNEL32.dll'                       b'DeviceIoControl'
b'KERNEL32.dll'                           b'SetFileTime'
b'KERNEL32.dll'                           b'CloseHandle'
b'KERNEL32.dll'                      b'CreateDirectoryW'
b'KERNEL32.dll'                      b'RemoveDirectoryW'
b'KERNEL32.dll'                           b'CreateFileW'
b'KERNEL32.dll'                           b'DeleteFileW'
b'KERNEL32.dll'                       b'CreateHardLinkW'
b'KERNEL32.dll'                     b'GetShortPathNameW'
b'KERNEL32.dll'                      b'GetLongPathNameW'
b'KERNEL32.dll'                             b'MoveFileW'
b'KERNEL32.dll'                           b'GetFileType'
b'KERNEL32.dll'                          b'GetStdHandle'
b'KERNEL32.dll'                             b'WriteFile'
b'KERNEL32.dll'                              b'ReadFile'
b'KERNEL32.dll'                      b'FlushFileBuffers'
b'KERNEL32.dll'                          b'SetEndOfFile'
b'KERNEL32.dll'                        b'SetFilePointer'
b'KERNEL32.dll'                    b'SetFileAttributesW'
b'KERNEL32.dll'                    b'GetFileAttributesW'
b'KERNEL32.dll'                             b'FindClose'
b'KERNEL32.dll'                        b'FindFirstFileW'
b'KERNEL32.dll'                         b'FindNextFileW'
b'KERNEL32.dll'                         b'GetVersionExW'
b'KERNEL32.dll'                  b'GetCurrentDirectoryW'
b'KERNEL32.dll'                      b'GetFullPathNameW'
b'KERNEL32.dll'                           b'FoldStringW'
b'KERNEL32.dll'                    b'GetModuleFileNameW'
b'KERNEL32.dll'                      b'GetModuleHandleW'
b'KERNEL32.dll'                         b'FindResourceW'
b'KERNEL32.dll'                           b'FreeLibrary'
b'KERNEL32.dll'                        b'GetProcAddress'
b'KERNEL32.dll'                   b'GetCurrentProcessId'
b'KERNEL32.dll'                           b'ExitProcess'
b'KERNEL32.dll'               b'SetThreadExecutionState'
b'KERNEL32.dll'                                 b'Sleep'
b'KERNEL32.dll'                          b'LoadLibraryW'
b'KERNEL32.dll'                   b'GetSystemDirectoryW'
b'KERNEL32.dll'                        b'CompareStringW'
b'KERNEL32.dll'                          b'AllocConsole'
b'KERNEL32.dll'                           b'FreeConsole'
b'KERNEL32.dll'                         b'AttachConsole'
b'KERNEL32.dll'                         b'WriteConsoleW'
b'KERNEL32.dll'                b'GetProcessAffinityMask'
b'KERNEL32.dll'                          b'CreateThread'
b'KERNEL32.dll'                     b'SetThreadPriority'
b'KERNEL32.dll'             b'InitializeCriticalSection'
b'KERNEL32.dll'                  b'EnterCriticalSection'
b'KERNEL32.dll'                  b'LeaveCriticalSection'
b'KERNEL32.dll'                 b'DeleteCriticalSection'
b'KERNEL32.dll'                              b'SetEvent'
b'KERNEL32.dll'                            b'ResetEvent'
b'KERNEL32.dll'                      b'ReleaseSemaphore'
b'KERNEL32.dll'                   b'WaitForSingleObject'
b'KERNEL32.dll'                          b'CreateEventW'
b'KERNEL32.dll'                      b'CreateSemaphoreW'
b'KERNEL32.dll'                         b'GetSystemTime'
b'KERNEL32.dll'       b'SystemTimeToTzSpecificLocalTime'
b'KERNEL32.dll'       b'TzSpecificLocalTimeToSystemTime'
b'KERNEL32.dll'                  b'SystemTimeToFileTime'
b'KERNEL32.dll'               b'FileTimeToLocalFileTime'
b'KERNEL32.dll'               b'LocalFileTimeToFileTime'
b'KERNEL32.dll'                  b'FileTimeToSystemTime'
b'KERNEL32.dll'                             b'GetCPInfo'
b'KERNEL32.dll'                        b'IsDBCSLeadByte'
b'KERNEL32.dll'                   b'MultiByteToWideChar'
b'KERNEL32.dll'                   b'WideCharToMultiByte'
b'KERNEL32.dll'                           b'GlobalAlloc'
b'KERNEL32.dll'                          b'GetTickCount'
b'KERNEL32.dll'                  b'SetCurrentDirectoryW'
b'KERNEL32.dll'                    b'GetExitCodeProcess'
b'KERNEL32.dll'                          b'GetLocalTime'
b'KERNEL32.dll'                         b'MapViewOfFile'
b'KERNEL32.dll'                       b'UnmapViewOfFile'
b'KERNEL32.dll'                    b'CreateFileMappingW'
b'KERNEL32.dll'                      b'OpenFileMappingW'
b'KERNEL32.dll'                       b'GetCommandLineW'
b'KERNEL32.dll'               b'SetEnvironmentVariableW'
b'KERNEL32.dll'             b'ExpandEnvironmentStringsW'
b'KERNEL32.dll'                          b'GetTempPathW'
b'KERNEL32.dll'                           b'MoveFileExW'
b'KERNEL32.dll'                        b'GetLocaleInfoW'
b'KERNEL32.dll'                        b'GetTimeFormatW'
b'KERNEL32.dll'                        b'GetDateFormatW'
b'KERNEL32.dll'                      b'GetNumberFormatW'
b'KERNEL32.dll'                        b'RaiseException'
b'KERNEL32.dll'                         b'GetSystemInfo'
b'KERNEL32.dll'                        b'VirtualProtect'
b'KERNEL32.dll'                          b'VirtualQuery'
b'KERNEL32.dll'                        b'LoadLibraryExA'
b'KERNEL32.dll'             b'IsProcessorFeaturePresent'
b'KERNEL32.dll'                     b'IsDebuggerPresent'
b'KERNEL32.dll'              b'UnhandledExceptionFilter'
b'KERNEL32.dll'           b'SetUnhandledExceptionFilter'
b'KERNEL32.dll'                       b'GetStartupInfoW'
b'KERNEL32.dll'               b'QueryPerformanceCounter'
b'KERNEL32.dll'                    b'GetCurrentThreadId'
b'KERNEL32.dll'               b'GetSystemTimeAsFileTime'
b'KERNEL32.dll'                   b'InitializeSListHead'
b'KERNEL32.dll'                      b'TerminateProcess'
b'KERNEL32.dll'                             b'RtlUnwind'
b'KERNEL32.dll'                         b'EncodePointer'
b'KERNEL32.dll' b'InitializeCriticalSectionAndSpinCount'
b'KERNEL32.dll'                              b'TlsAlloc'
b'KERNEL32.dll'                           b'TlsGetValue'
b'KERNEL32.dll'                           b'TlsSetValue'
b'KERNEL32.dll'                               b'TlsFree'
b'KERNEL32.dll'                        b'LoadLibraryExW'
b'KERNEL32.dll'             b'QueryPerformanceFrequency'
b'KERNEL32.dll'                    b'GetModuleHandleExW'
b'KERNEL32.dll'                    b'GetModuleFileNameA'
b'KERNEL32.dll'                                b'GetACP'
b'KERNEL32.dll'                              b'HeapFree'
b'KERNEL32.dll'                             b'HeapAlloc'
b'KERNEL32.dll'                           b'HeapReAlloc'
b'KERNEL32.dll'                        b'GetStringTypeW'
b'KERNEL32.dll'                          b'LCMapStringW'
b'KERNEL32.dll'                      b'FindFirstFileExA'
b'KERNEL32.dll'                         b'FindNextFileA'
b'KERNEL32.dll'                       b'IsValidCodePage'
b'KERNEL32.dll'                              b'GetOEMCP'
b'KERNEL32.dll'                       b'GetCommandLineA'
b'KERNEL32.dll'                b'GetEnvironmentStringsW'
b'KERNEL32.dll'               b'FreeEnvironmentStringsW'
b'KERNEL32.dll'                        b'GetProcessHeap'
b'KERNEL32.dll'                          b'SetStdHandle'
b'KERNEL32.dll'                              b'HeapSize'
b'KERNEL32.dll'                          b'GetConsoleCP'
b'KERNEL32.dll'                        b'GetConsoleMode'
b'KERNEL32.dll'                      b'SetFilePointerEx'
b'KERNEL32.dll'                         b'DecodePointer'