b'KERNEL32.dll'                     b'GetCurrentProcess'
b'KERNEL32.dll'                      b'GetCurrentThread'
b'KERNEL32.dll'                          b'SetLastError'
b'KERNEL32.dll'                                 b'Sleep'
b'KERNEL32.dll'                           b'CloseHandle'
b'KERNEL32.dll'                          b'LoadLibraryA'
b'KERNEL32.dll'                               b'WinExec'
b'KERNEL32.dll'                        b'GetProcAddress'
b'KERNEL32.dll'                           b'CreateFileW'
b'KERNEL32.dll'                         b'DecodePointer'
b'KERNEL32.dll'                         b'WriteConsoleW'
b'KERNEL32.dll'                      b'SetFilePointerEx'
b'KERNEL32.dll'               b'QueryPerformanceCounter'
b'KERNEL32.dll'                   b'GetCurrentProcessId'
b'KERNEL32.dll'                    b'GetCurrentThreadId'
b'KERNEL32.dll'               b'GetSystemTimeAsFileTime'
b'KERNEL32.dll'                   b'InitializeSListHead'
b'KERNEL32.dll'                     b'IsDebuggerPresent'
b'KERNEL32.dll'              b'UnhandledExceptionFilter'
b'KERNEL32.dll'           b'SetUnhandledExceptionFilter'
b'KERNEL32.dll'                       b'GetStartupInfoW'
b'KERNEL32.dll'             b'IsProcessorFeaturePresent'
b'KERNEL32.dll'                      b'GetModuleHandleW'
b'KERNEL32.dll'                      b'TerminateProcess'
b'KERNEL32.dll'                             b'RtlUnwind'
b'KERNEL32.dll'                          b'GetLastError'
b'KERNEL32.dll'                  b'EnterCriticalSection'
b'KERNEL32.dll'                  b'LeaveCriticalSection'
b'KERNEL32.dll'                 b'DeleteCriticalSection'
b'KERNEL32.dll' b'InitializeCriticalSectionAndSpinCount'
b'KERNEL32.dll'                              b'TlsAlloc'
b'KERNEL32.dll'                           b'TlsGetValue'
b'KERNEL32.dll'                           b'TlsSetValue'
b'KERNEL32.dll'                               b'TlsFree'
b'KERNEL32.dll'                           b'FreeLibrary'
b'KERNEL32.dll'                        b'LoadLibraryExW'
b'KERNEL32.dll'                           b'ExitProcess'
b'KERNEL32.dll'                    b'GetModuleHandleExW'
b'KERNEL32.dll'                          b'GetStdHandle'
b'KERNEL32.dll'                             b'WriteFile'
b'KERNEL32.dll'                    b'GetModuleFileNameW'
b'KERNEL32.dll'                   b'MultiByteToWideChar'
b'KERNEL32.dll'                   b'WideCharToMultiByte'
b'KERNEL32.dll'                                b'GetACP'
b'KERNEL32.dll'                              b'HeapFree'
b'KERNEL32.dll'                             b'HeapAlloc'
b'KERNEL32.dll'                        b'GetStringTypeW'
b'KERNEL32.dll'                          b'LCMapStringW'
b'KERNEL32.dll'                             b'FindClose'
b'KERNEL32.dll'                      b'FindFirstFileExW'
b'KERNEL32.dll'                         b'FindNextFileW'
b'KERNEL32.dll'                       b'IsValidCodePage'
b'KERNEL32.dll'                              b'GetOEMCP'
b'KERNEL32.dll'                             b'GetCPInfo'
b'KERNEL32.dll'                       b'GetCommandLineA'
b'KERNEL32.dll'                       b'GetCommandLineW'
b'KERNEL32.dll'                b'GetEnvironmentStringsW'
b'KERNEL32.dll'               b'FreeEnvironmentStringsW'
b'KERNEL32.dll'                          b'SetStdHandle'
b'KERNEL32.dll'                           b'GetFileType'
b'KERNEL32.dll'                        b'GetProcessHeap'
b'KERNEL32.dll'                              b'HeapSize'
b'KERNEL32.dll'                           b'HeapReAlloc'
b'KERNEL32.dll'                      b'FlushFileBuffers'
b'KERNEL32.dll'                          b'GetConsoleCP'
b'KERNEL32.dll'                        b'GetConsoleMode'
b'KERNEL32.dll'                        b'RaiseException'
b'ADVAPI32.dll'                    b'CloseServiceHandle'
  b'WS2_32.dll'                                 b'htons'
  b'WS2_32.dll'                                 b'htonl'
  b'WS2_32.dll'                                  b'bind'
  b'WS2_32.dll'                             b'inet_addr'