   b'ntdll.dll'           b'vsprintf'
   b'ntdll.dll'            b'memmove'
   b'ntdll.dll'   b'NtYieldExecution'
   b'ntdll.dll'             b'strchr'
   b'ntdll.dll'            b'strncpy'
   b'ntdll.dll'           b'_stricmp'
   b'ntdll.dll'             b'memset'
b'KERNEL32.dll'       b'GetLocalTime'
b'KERNEL32.dll' b'OutputDebugStringA'
  b'USER32.dll'        b'MessageBoxA'
b'OPENGL32.dll'              b'glEnd'
b'OPENGL32.dll'           b'glEnable'
b'OPENGL32.dll'        b'glLineWidth'
b'OPENGL32.dll'      b'glPolygonMode'
b'OPENGL32.dll'          b'glColor3d'
b'OPENGL32.dll'            b'glBegin'
b'OPENGL32.dll'          b'glDisable'
b'OPENGL32.dll'            b'glClear'
b'OPENGL32.dll'        b'glPointSize'
b'OPENGL32.dll'      b'glLineStipple'
b'OPENGL32.dll'         b'glVertex3d'