b'KERNEL32.dll'        b'GetFileAttributesW'
b'KERNEL32.dll'             b'GetFileSizeEx'
b'KERNEL32.dll'               b'CreateFileA'
b'KERNEL32.dll' b'InitializeCriticalSection'
b'KERNEL32.dll'     b'DeleteCriticalSection'
b'KERNEL32.dll'                  b'ReadFile'
b'KERNEL32.dll'               b'GetFileSize'
b'KERNEL32.dll'                 b'WriteFile'
b'KERNEL32.dll'      b'LeaveCriticalSection'
b'KERNEL32.dll'      b'EnterCriticalSection'
b'KERNEL32.dll'        b'SetFileAttributesW'
b'KERNEL32.dll'      b'SetCurrentDirectoryW'
b'KERNEL32.dll'          b'CreateDirectoryW'
b'KERNEL32.dll'              b'GetTempPathW'
b'KERNEL32.dll'      b'GetWindowsDirectoryW'
b'KERNEL32.dll'        b'GetFileAttributesA'
b'KERNEL32.dll'            b'SizeofResource'
b'KERNEL32.dll'              b'LockResource'
b'KERNEL32.dll'              b'LoadResource'
b'KERNEL32.dll'       b'MultiByteToWideChar'
b'KERNEL32.dll'                     b'Sleep'
b'KERNEL32.dll'                b'OpenMutexA'
b'KERNEL32.dll'          b'GetFullPathNameA'
b'KERNEL32.dll'                 b'CopyFileA'
b'KERNEL32.dll'        b'GetModuleFileNameA'
b'KERNEL32.dll'              b'VirtualAlloc'
b'KERNEL32.dll'               b'VirtualFree'
b'KERNEL32.dll'               b'FreeLibrary'
b'KERNEL32.dll'                 b'HeapAlloc'
b'KERNEL32.dll'            b'GetProcessHeap'
b'KERNEL32.dll'          b'GetModuleHandleA'
b'KERNEL32.dll'              b'SetLastError'
b'KERNEL32.dll'            b'VirtualProtect'
b'KERNEL32.dll'              b'IsBadReadPtr'
b'KERNEL32.dll'                  b'HeapFree'
b'KERNEL32.dll'      b'SystemTimeToFileTime'
b'KERNEL32.dll'   b'LocalFileTimeToFileTime'
b'KERNEL32.dll'          b'CreateDirectoryA'
b'KERNEL32.dll'           b'GetStartupInfoA'
b'KERNEL32.dll'            b'SetFilePointer'
b'KERNEL32.dll'               b'SetFileTime'
b'KERNEL32.dll'          b'GetComputerNameW'
b'KERNEL32.dll'      b'GetCurrentDirectoryA'
b'KERNEL32.dll'      b'SetCurrentDirectoryA'
b'KERNEL32.dll'               b'GlobalAlloc'
b'KERNEL32.dll'              b'LoadLibraryA'
b'KERNEL32.dll'            b'GetProcAddress'
b'KERNEL32.dll'                b'GlobalFree'
b'KERNEL32.dll'            b'CreateProcessA'
b'KERNEL32.dll'               b'CloseHandle'
b'KERNEL32.dll'       b'WaitForSingleObject'
b'KERNEL32.dll'          b'TerminateProcess'
b'KERNEL32.dll'        b'GetExitCodeProcess'
b'KERNEL32.dll'             b'FindResourceA'
  b'USER32.dll'                 b'wsprintfA'
b'ADVAPI32.dll'            b'CreateServiceA'
b'ADVAPI32.dll'              b'OpenServiceA'
b'ADVAPI32.dll'             b'StartServiceA'
b'ADVAPI32.dll'        b'CloseServiceHandle'
b'ADVAPI32.dll'       b'CryptReleaseContext'
b'ADVAPI32.dll'             b'RegCreateKeyW'
b'ADVAPI32.dll'            b'RegSetValueExA'
b'ADVAPI32.dll'          b'RegQueryValueExA'
b'ADVAPI32.dll'               b'RegCloseKey'
b'ADVAPI32.dll'            b'OpenSCManagerA'
  b'MSVCRT.dll'                   b'realloc'
  b'MSVCRT.dll'                    b'fclose'
  b'MSVCRT.dll'                    b'fwrite'
  b'MSVCRT.dll'                     b'fread'
  b'MSVCRT.dll'                     b'fopen'
  b'MSVCRT.dll'                   b'sprintf'
  b'MSVCRT.dll'                      b'rand'
  b'MSVCRT.dll'                     b'srand'
  b'MSVCRT.dll'                    b'strcpy'
  b'MSVCRT.dll'                    b'memset'
  b'MSVCRT.dll'                    b'strlen'
  b'MSVCRT.dll'                    b'wcscat'
  b'MSVCRT.dll'                    b'wcslen'
  b'MSVCRT.dll'         b'__CxxFrameHandler'
  b'MSVCRT.dll'              b'??3@YAXPAX@Z'
  b'MSVCRT.dll'                    b'memcmp'
  b'MSVCRT.dll'          b'_except_handler3'
  b'MSVCRT.dll'            b'_local_unwind2'
  b'MSVCRT.dll'                   b'wcsrchr'
  b'MSVCRT.dll'                  b'swprintf'
  b'MSVCRT.dll'              b'??2@YAPAXI@Z'
  b'MSVCRT.dll'                    b'memcpy'
  b'MSVCRT.dll'                    b'strcmp'
  b'MSVCRT.dll'                   b'strrchr'
  b'MSVCRT.dll'                b'__p___argv'
  b'MSVCRT.dll'                b'__p___argc'
  b'MSVCRT.dll'                  b'_stricmp'
  b'MSVCRT.dll'                      b'free'
  b'MSVCRT.dll'                    b'malloc'
  b'MSVCRT.dll' b'??0exception@@QAE@ABV0@@Z'
  b'MSVCRT.dll'      b'??1exception@@UAE@XZ'
  b'MSVCRT.dll' b'??0exception@@QAE@ABQBD@Z'
  b'MSVCRT.dll'        b'_CxxThrowException'
  b'MSVCRT.dll'                    b'calloc'
  b'MSVCRT.dll'                    b'strcat'
  b'MSVCRT.dll'                   b'_mbsstr'
  b'MSVCRT.dll'      b'??1type_info@@UAE@XZ'
  b'MSVCRT.dll'                     b'_exit'
  b'MSVCRT.dll'               b'_XcptFilter'
  b'MSVCRT.dll'                      b'exit'
  b'MSVCRT.dll'                   b'_acmdln'
  b'MSVCRT.dll'             b'__getmainargs'
  b'MSVCRT.dll'                 b'_initterm'
  b'MSVCRT.dll'          b'__setusermatherr'
  b'MSVCRT.dll'              b'_adjust_fdiv'
  b'MSVCRT.dll'              b'__p__commode'
  b'MSVCRT.dll'                b'__p__fmode'
  b'MSVCRT.dll'            b'__set_app_type'
  b'MSVCRT.dll'                b'_controlfp'